<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaTech Solutions</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
<<<<<<< HEAD
        <a href="/login"><h1>BetaTech Solutions</h1></a>
=======
<<<<<<< HEAD
        <a href="/login"><h1>BetaTech Solutions</h1></a>
=======
        <h1>BetaTech Solutions</h1>
        <nav>
            <ul>
                <li><a href="/login">Admin Login</a></li>
            </ul>
        </nav>
>>>>>>> 059fb53c6c364ba04c5dacfa324c4b3946e4115a
>>>>>>> e3c10331537edb5ef8f6e38f69dce03365359a35
    </header>
    <main>