body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.p1 {
    max-width: 600px;
    padding-left: 25%;
}

#om-oss {
    text-align: center;
    background-color: white;
    padding: 2rem; /* Increase padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto; /* Center the section horizontally */
}

.bilde-venstre {
    float: left;
    margin: 0 1rem 1rem 0;
    max-width: 300px;
    border: 2px solid #ccc; /* Legg til border med ønsket tykkelse og farge */
    padding: 5px; /* Legg til litt padding for å gi plass rundt bildet */
}

.bilde-hoyre {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 300px;
    border: 2px solid #ccc; /* Legg til border med ønsket tykkelse og farge */
    padding: 5px; /* Legg til litt padding for å gi plass rundt bildet */
}