body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

#prosjekter {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#prosjekter ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

#prosjekter li {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

#om-meg {
    text-align: center;
    background-color: white;
    padding: 2rem; /* Increase padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto; /* Center the section horizontally */
}

#profilbilde {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between the buttons */
    margin-top: 2rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.bilde {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
    margin: 1rem 0;
}

.bilde-venstre {
    float: left;
    margin: 0 1rem 1rem 0;
    max-width: 300px;
    border: 2px solid #ccc; /* Legg til border med ønsket tykkelse og farge */
    padding: 5px; /* Legg til litt padding for å gi plass rundt bildet */
}

.bilde-hoyre {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 300px;
    border: 2px solid #ccc; /* Legg til border med ønsket tykkelse og farge */
    padding: 5px; /* Legg til litt padding for å gi plass rundt bildet */
}