/* Fargepanel: 
6420AA Purple
FF3EA5 Strong Pink
FF7ED4 Baby Pink
FFB5DA Lys Pink
*/

body {
    background-color: #FF7ED4;
    margin: 0;
}

header {
    background-color: #6420AA; /* Purple */
    padding: 20px;
    color: white;
    text-align: center;
}

.galleri {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleri figure {
    position: relative;
    flex: 1 1 300px; /* Adjust basis to 300px, but allow shrink and grow */
    max-width: 300px;
    margin-left: auto;
    border: 3px solid #FF3EA5; /* Strong Pink */
    margin: 10px; /* Adds margin for spacing between items */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    overflow: visible; /* Ensures no content spills out */
    background-color: #FFB5DA; /* Lys Pink */
}

.galleri img {
    position: relative;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    transition: transform 0.3s ease-in-out; /* Smooth zoom animation */
    cursor: zoom-in; /* Indicate clickable element */
}

.galleri img.zoomed {
    position: absolute; /* Make absolute only on hover */
    transform: scale(1.4); /* Adjust position and scale */
    z-index: 2; /* Higher z-index to be on top */
    cursor: zoom-out;
}

#blurOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease-in-out; /* Smooth fade in/out for blur */
    z-index: -1; /* Behind the zoomed image (z-index: 2) */
}

#blurOverlay.blur {
    opacity: 1; /* Becomes visible when active */
    z-index: 1;
}

.galleri figcaption {
    padding-left: 20px;
}

.zoom-out {
    cursor: zoom-out;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .galleri figure {
        flex-basis: 100%; /* Each figure takes full width on smaller screens */
    }
}

.center-wrapper {
    margin-left: 10%;
    width: 80%;
}

.kontakt {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.kontakt form {
    border: 3px solid #FF3EA5;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    background-color: #FFB5DA;
}

form > * {
    display: block;
}

.kontakt input,
.kontakt textarea {
    margin-bottom: 10px;
    width: 100%;
}

.kontakt textarea {
    min-height: 80px;
}

.kontakt input[type="submit"] {
    width: auto;
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #FF3EA5; /* Strong Pink */
    color: white;
    text-align: center;
}
