<%- include('partials/header') %>
<h2>Velkommen til BetaTech Solutions</h2>
<img class="img" src="https://picsum.photos/400/400" alt=""><br>
<p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at risus vitae diam ultrices fringilla. Praesent venenatis nulla vel velit maximus pellentesque. Proin posuere accumsan mi ut tempor. Curabitur tempus felis velit, consequat mattis tellus vehicula eu. Aliquam non orci porttitor, finibus dui eget, lacinia eros. Etiam feugiat magna at justo viverra, nec tincidunt neque sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam blandit blandit ex, ut porttitor sem hendrerit nec. Fusce id ex et urna rhoncus ornare in ac lectus. Fusce in libero vulputate, sodales arcu et, finibus ante. Morbi molestie, urna rutrum venenatis iaculis, lectus felis ultricies mi, eu condimentum magna turpis at lorem. Suspendisse urna ipsum, lacinia a congue ac, fermentum sit amet eros. Maecenas placerat tincidunt sapien et maximus..</p>
<%- include('partials/footer') %>
