<%- include("partials/header.ejs") %>

<h1>Contact Me</h1>
<form>
  <input name="name" style="color: black;" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" style="color: black;" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" style="color: black;" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>

<%- include("partials/footer.ejs") %>