<%- include('partials/header.ejs') %>

<main>
    <h2>Welcome to our Voting Website!</h2>
    <p>Vote Now!</p>

    <section class="candidates">
        <div class="candidate">
            <h3>Theo Pus</h3>
            <img src="https://scontent.fsvg2-1.fna.fbcdn.net/v/t1.15752-9/441553610_285512664633274_7933101472189364341_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=N-oMAKoLPNIQ7kNvgFnQ4-y&_nc_ht=scontent.fsvg2-1.fna&oh=03_Q7cD1QGMr2tbe_JvVkByTVhHdVwJHuV6gQtM22KfQ0Kys4wkHA&oe=666D2DAD" alt="Candidate 1">
            <p>Theo Pus brings a fresh perspective to the table with his innovative ideas and dedication to community engagement. With a track record of effective leadership and a commitment to inclusivity, Theo aims to prioritize initiatives that foster unity and progress for all.</p>
        </div>
        
        <div class="candidate">
            <h3>Slivka Boss</h3>
            <img src="https://scontent.fsvg2-1.fna.fbcdn.net/v/t1.15752-9/440853280_866919875173516_6515803684684050325_n.jpg?stp=dst-jpg_s403x403&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=9jntS5EhAXoQ7kNvgGa-3fe&_nc_ht=scontent.fsvg2-1.fna&oh=03_Q7cD1QGnUIY6BjEPaqTgMNczc0u-ZMr0FfEvVbeheSLUqupyaA&oe=666D4F22" alt="Candidate 2">
            <p>Slivka Boss is a proven advocate for change, championing sustainability and environmental preservation. Their visionary approach to policy-making emphasizes the urgent need for eco-friendly solutions and sustainable practices, ensuring a brighter future for generations to come.</p>
        </div>
        
        <div class="candidate">
            <h3>Patryk Polskaaa</h3>
            <img src="https://scontent.fsvg2-1.fna.fbcdn.net/v/t1.15752-9/440725744_979316603905925_8929825442964190010_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ADPOmr_LAGwQ7kNvgGUPbob&_nc_ht=scontent.fsvg2-1.fna&oh=03_Q7cD1QG7BFDbqRONre-31jMvb9NCDFu_hoJ82mJUSc2DXJz52w&oe=666D4F24" alt="Candidate 3">
            <p>Patryk Polskaaa embodies resilience and determination, advocating for social justice and equal opportunities. With a passion for empowering marginalized communities, Patryk is dedicated to implementing policies that promote fairness, equality, and diversity, creating a society where everyone has a voice and a chance to thrive.</p>
        </div>
    </section>

    <a href="/vote" class="vote-button">Vote Now!</a>
    <br><br><br>

</main>

<%- include('partials/footer.ejs') %>
